<div class="login-form">
   <h1 class="logo"></h1>
   <h3 class="text-center">Adminログイン</h3>
   <form name="signInForm" method="POST" novalidate ng-submit="SignInCtrl.submit(signInForm)">
      <div class="form-group">
         <input type="email" name="email" class="form-control" placeholder="メールアドレス" ng-model="SignInCtrl.input.email" required>
         <span ng-if="signInForm.email.$error.required && !signInForm.email.$pristine" class="input-error-label">Email can not blank!</span>
         <span ng-if="signInForm.email.$error.email && !signInForm.email.$pristine" class="input-error-label">Not valid email!</span>
      </div>
      <div class="form-group">
         <input type="password" name="password" class="form-control" placeholder="パスワード" ng-model="SignInCtrl.input.password" required>
         <span ng-if="signInForm.password.$error.required && !signInForm.password.$pristine" class="input-error-label">Password can not blank!</span>
      </div>
      <div class="form-group">
         <div class="policy">
            <b>第１条（総則）</b><br>
            <hr>
            １．この「jinjer」利用規約（以下「本規約」といいます）は、株式会社ネオキャリア（以下「当社」といいます）が権利を有し、提供するシステム「jinjer」（以下、単に「jinjer」といいます）の利用に関する条件を定めるものであり、全てのjinjerを利用する企業（以下「ユーザー企業」といいます）は本規約に従いjinjerを利用するものとします。<br>
            ２．ユーザー企業は、jinjerの利用を開始することで本規約に同意したものとし、これをもってユーザー企業と当社との間でjinjerの利用に関する契約（以下「jinjer利用契約」といいます）が成立したものとみなします。なお、jinjer利用契約はjinjerが提供する機能毎に成立するものとします。<br>
            ３．当社は、本規約を事前の予告なく変更、追加又は削除することがあります。この場合において、当社は、jinjer上で変更後の規約を掲示するものとし、ユーザー企業は、当該変更後にjinjerを利用した場合、変更後の本規約に同意したとみなされるものとします。<br>
            <br>
            <b>第２条（jinjerの機能）</b><br>
            １．jinjerが提供する機能は、ユーザー企業の人事・採用業務を支援するものであって、当社が別に定める機能とします。<br>
            ２．ユーザー企業は、jinjerが提供する機能のうち、自らが利用する機能（オプション機能を含みます）を、甲所定の申込書（以下「申込書」といいます）によって特定するものとします。<br>
            <br>
            <b>第３条（利用許諾）</b><br>
            １．当社は、ユーザー企業に対して、本規約の条件に従い、jinjerを利用する譲渡不能の非独占的利用権を許諾するものとします。<br>
            ２．ユーザー企業は、自らの役員、従業員、及び従業員に準ずる者（以下、総称して「ユーザー企業等」といいます）をして、jinjerを操作せしめることができるものとします。なお、従業員に準ずる者とは、ユーザー企業の事業所内に勤務し、ユーザー企業の事業の補助的な業務を行う者に限定するものとします。<br>
            ３．ユーザー企業は、前項で許諾された利用権について、有償無償を問わず、第三者への譲渡・販売・貸与、及びこれに類似する行為を行ってはなりません。<br>
            ４　ユーザー企業は、本サービスを構成するソフトウェアの複製・改変・解析、及び当該ソフトウェアのデータを改変するプログラムの開発を行ってはなりません。<br>
            ５．ユーザー企業が当社の直接の競合者である場合には、当社は、当社が承諾する場合を除き、本サービスの利用を許諾しないものとします。<br>
            <br>
            <b>第４条（ID・パスワード）</b><br>
            １．当社は、ユーザー企業に対して、jinjerを操作するために必要なID及びパスワード（以下「ID等」といいます）を一式付与するものとします。なお、ID等はjinjerの機能毎に付与されるものとします。<br>
            ２．当社がユーザー企業に付与するID等は、ユーザー企業の役員、従業員、その他ユーザー企業において業務に従事する者だけが取り扱うものとし、ID等を利用する者の氏名、所属、連絡先等当社が必要と定める事項を届け出ることとします。なお、届け出た内容を変更する場合も同様とします。<br>
            ３．当社は、ユーザー企業に付与したID等を、ユーザー企業に対して事前に通知した上で変更することができるものとします。<br>
            ４．ユーザー企業は、付与されたID等を厳正に管理する責任を負うものとします。また、ID等を第三者に譲渡、貸与し、又はこれを用いてjinjerにログインさせてはなりません。<br>
            ５．当社は、ユーザー企業からのjinjerへの接続が、当社がユーザー企業に対して設定した正当なID等による操作・接続である限り、正当なユーザー企業の利用と見なします。<br>
            <br>
            <b>第５条（個人情報の取扱い）</b><br>
            １．当社は、ユーザー企業から提供を受けた個人情報（生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます）をいい、ユーザー企業がjinjerに格納した情報を含みます。以下同様とします）を、当社のWebサイトに掲示するプライバシーポリシーに従い適切に取り扱うものとします。<br>
            ２．ユーザー企業及び当社は、jinjerを利用する際に取り扱う個人情報については、個人情報管理に関する責任者を特定し、個人情報の漏えい・滅失・改ざん・棄損等の事故を未然に防止するため必要な措置を講じるものとします。<br>
            <br>
            <b>第６条（情報の利用）</b><br>
            １．当社は、ユーザー企業がjinjerを通じて格納した個人情報及びユーザー企業の企業情報のうち、個人又はユーザー企業を特定できない部分を統計情報として利用できるものとし、ユーザー企業はこれに同意します。<br>
            ２．ユーザー企業は、jinjerに個人情報を格納するに際して、予め当該個人情報の保有当事者に前項の統計情報の利用方法について提示し、同意を得るものとします。<br>
            ３．当社が本条第１項に定める範囲で統計情報を利用しているにも係らず、ユーザー企業又は当社が個人情報の保有当事者からクレーム等を受けた場合、ユーザー企業は、自らの費用と責任でこれを解決するものとし、当社に迷惑をかけないものとします。<br>
            <br>
            <b>第７条（利用料）</b><br>
            １．ユーザー企業は、別掲の料金表に従い、jinjerの利用に関する対価（以下「利用料」といいます）を当社に支払うものとします。<br>
            ２．当社は、申込書に従いユーザー企業に対して利用料を請求し、ユーザー企業は、請求日の翌月末日までに、当社が別途指定する金融機関口座宛に支払うものとします。なお、振込手数料はユーザー企業の負担とします。<br>
            ３．前項に係らず、第11条第３項に定める長期プランを利用する場合は、長期プランに係る利用料を一括して支払うものとします。この場合において、当社は、当社に故意又は重過失ある場合を除き、一度受領した対価を返金しないものとします。<br>
            ４．ユーザー企業が、料金表で定めるオプションを利用した場合、当該オプションの対価については、申込書に従い請求・支払いが行われるものとします。<br>
            ５．jinjerの機能のうち「勤怠管理」の機能（以下「jinjer【勤怠管理】」といいます）を利用する場合、利用料は申込書に記載された単価に当月ユーザー企業内でjinjer勤怠を利用した従業員の数から導き出される数字（以下「利用者数」といいます）を乗じた金額とします。なお、利用者数は5人単位で計算され、5の倍数に満たない従業員の数は切り捨てるものとします（例：従業員の数が50人の場合の利用者数は50人、51人～54人の場合も50人として計算）。<br>
            <br>
            <b>第８条（禁止事項）</b><br>
            ユーザー企業は、jinjerに関して下記の行為を行ってはならないものとします。 <br>
            １．ユーザー企業自身の評価以外の目的で本サービスを利用すること <br>
            ２．本サービスを構成するプログラム等の複製および解析を行うこと <br>
            ３．本サービスを受ける権利を譲渡若しくは貸与（有償・無償を問いません）すること<br>
            ４．本サービスを第三者に再利用させること<br>
            ５．本サービスの利用により入手した情報を第三者に漏洩すること <br>
            ６．本サービスと同等或いは類似するサービスを第三者に提供すること<br>
            ７．本サービスの可用性、性能、機能、インターフェイスの測定、比較、調査、その他これらに類する目的で本サービスを利用すること<br>
            <br>
            <b>第９条（jinjerの停止）</b><br>
            １．当社は、jinjerのシステム保守のために定期メンテナンスを行うためにjinjerを停止することがあります。この場合において、当社は、当該メンテナンスの日時及び期間を予めjinjer上で通知するものとします。<br>
            ２．当社は、以下の各号の場合において、ユーザー企業に事前通知することなく、jinjerの全部又は一部の機能を停止することがあります。<br>
            （１）緊急にjinjerの保守・整備・改修、及び機器交換等が必要となった場合<br>
            （２）天災地変・騒乱・戦争・ストライキ等、不測の事態が発生した場合<br>
            （３）電力会社の電力供給の中断、又は電気通信事業者が提供するインターネット等の通信障害が発生した場合<br>
            ３．前２項の事由によりjinjerの利用ができない日時があったとしても、ユーザー企業は当社に対して、利用料の減額を求めることはできません。<br>
            <br>
            <b>第10条（損害賠償）</b><br>
            １．jinjerの障害・停止等によるユーザー企業の損害について、当社の故意又は重過失により生じた損害である場合を除き、当社は一切の責任を負わないものとします。<br>
            ２．ユーザー企業が、本規約に規定されていることに違反した結果、ユーザー企業に損害が生じた場合については、当社は一切の責任を負わないものとします。<br>
            ３．ユーザー企業又は当社は、本規約に規定されていることに違反し、相手方又は第三者に損害を与えた場合、その損害を補償しなければならないものとします。<br>
            ４．前条第１項又は第２項によりjinjerが利用できず、それによってユーザー企業に損害が発生した場合であっても、当社は一切の責任を追わないものとします。<br>
            ５．ユーザー企業は、自己の責任で必要なデータのバックアップを確保するものとし、jinjer上に格納したユーザー企業のデータの喪失・破損について、当社は、故意又は重過失の場合を除き、責任を負わないものとします。<br>
            <br>
            <b>第11条（有効期間）</b><br>
            １．jinjer利用契約の有効期間は、利用する機能毎に設定されるものとし、それぞれの有効期間は、申込書に記載のとおりとします。当該有効期間は同一条件にて自動的に延長され続けるものとし、ユーザー企業は、jinjer利用契約を終了させる場合には、終了希望日の１ヶ月前までに、別途当社が定める方法によりその旨を申し出るものとします。なお、jinjer利用契約の終了日は毎月末日とし、ユーザー企業が希望した終了日が月の末日以外の日である場合には、当該月の末日までjinjer利用契約は継続され、解約月の対価は返金されないものとします。<br>
            ２．jinjer利用契約には、利用する機能ごとに最低利用期間があります。当該期間内にユーザー企業がjinjer利用契約を解約しようとする場合には、残余の期間に対応する利用料を支払う義務を負うものとします。<br>
            ３．前２項に係らず、jinjerの機能のうち「新卒採用」の機能（以下「jinjer【新卒採用】」といいます）に関するjinjer利用契約においては、ユーザー企業は長期契約プランを選択することができます。ユーザー企業がjinjer【新卒採用】の長期プランを選択した場合におけるjinjer【新卒採用】に関するjinjer利用契約の有効期間は、jinjer【新卒採用】利用開始の日から起算して12ヶ月間とします。但し、有効期間の満了日の１ヶ月前までにユーザー企業と当社のいずれからも利用を終了する旨の申し出がない場合には、有効期間は更に12ヶ月間自動的に更新され、以後も同様とします。なお、更新後の契約期間については１ヶ月に変更することも可能であり、その場合には、期間満了日の１ヶ月前までに当社に対してその旨を通知するものとします。<br>
            ４．ユーザー企業は、jinjer【新卒採用】において使用するプランを、申込書に記載して選択するものとします。<br>
            ５．jinjer利用契約の有効期間の始期は、全ての機能及び全てのプランにおいて毎月１日とし、ID等の発行日が発行月の１日以外の日に行われた場合には、当該月の末日までの利用期間はjinjer利用契約の有効期間に参入せず、その場合の有効期間は翌月の１日から起算されるものとします。但し、利用開始日からjinjer利用契約の有効期間の始期までの間におけるjinjerの利用に関しては、本規約が適用されるものとします。<br>
            ６．第７条第６項に基づきjinjer【勤怠管理】のお申込人数が有効期間の途中で変更になった場合であっても、jinjer【勤怠管理】の有効期間は全てのお申込人数について当初のお申込人数に適用されている有効期間と同一とします。<br>
            <br>
            <b>第12条（利用契約終了時の措置）</b><br>
            １．jinjer利用契約が終了した場合、当社は、ユーザー企業に付与していたID等を無効にし、サーバに残存するユーザー企業のうち、個人又はユーザーを特定できるデータを消去します。<br>
            ２．ユーザー企業は、自己の責任で必要なデータのバックアップを確保するものとし、当社は、前項によるユーザー企業のデータを削除したことによるデータ消失の責任は負わないものとします。<br>
            ３．ユーザー企業がjinjerの利用に伴い取得したjinjerに関するマニュアル及びそれらの複製物については、jinjer利用契約の終了後、直ちに当社に返却するか、当社の承認の下に破棄するものとします。<br>
            <br>
            <b>第13条（データの保存期間）</b><br>
            １． jinjer【勤怠管理】を利用する場合、jinjerに入力した各利用者の勤務データは、入力日から３年間、当社のサーバに保持されるものとします（例：2015年2月1日に入力されたデータは2018年2月1日をもってサーバから消去され、同年2月2日に入力されたデータは2018年2月2日をもってサーバから削除されます）。<br>
            ２．前項のデータ保持期間は、入力日から３年経過した時点でjinjer【勤怠管理】を継続使用している場合であっても適用されるものとします。<br>
            ３．前２項に係らず、ユーザー企業がjinjer【勤怠管理】の利用を終了した場合には、３年間の経過を待たず、入力されたデータは当該利用の終了日をもってサーバから消去されるものとします。<br>
            ４．データの保存期間に係らず、乙は、第６条に従い個人が特定できない状態とした情報の利用を継続実施できるものとします。<br>
            <br>
            <b>第14条（解除）</b><br>
            １．当社は、ユーザー企業が本規約の条項の一にでも違反した場合には相当期間を定めて違反の是正を催告し、当該期間中にかかる違反が是正されない場合には、jinjer利用契約を解除することができるものとします。<br>
            ２．当社は、ユーザー企業が次の各号の一にでも該当する場合には、何等催告なくしてjinjer利用契約を直ちに解除することができるものとします。<br>
            （１）自ら振り出し又は引き受けた手形若しくは小切手が不渡りとなったとき、又は支払停止状態に至ったとき<br>
            （２）公租公課の滞納処分を受けたとき<br>
            （３）差押、仮差押、仮処分、競売その他公権力の処分を受け若しくは破産、民事再生手続開始、会社更生手続開始の申立のあったとき、又は清算に入る等事実上営業を停止したとき<br>
            （４）上記各号の他、財産状態・会社経営の状態が悪化又はそのおそれがあると客観的・明白に認められる事情が発生したとき<br>
            （５）監督官庁から営業停止、許可取消等の指示を受けたとき<br>
            （６）合併によらない解散の決議をしたとき<br>
            （７）その他、社会的信用を喪失し、又は喪失することが明らかなとき<br>
            ３．本条による解除は、ユーザー企業に対する損害賠償請求（弁護士費用を含む）を妨げません。<br>
            ４．ユーザー企業は、第１項又は第２項各号のいずれかの事由が生じた場合、当然に期限の利益を喪失し、直ちに当社に対する残債務全額を一括して支払わなければならない。<br>
            <br>
            <b>第15条（反社会的勢力の排除）</b><br>
            １．ユーザー企業及び当社は、現在又は過去５年以内において、自己又は自己の役員が、暴力団、暴力団関係企業、総会屋等、社会運動等標ぼうゴロ又は特殊知能暴力集団等、その他これらに準ずる者（以下、「反社会的勢力」）に該当しないこと、及び次の各号のいずれにも該当しないことを表明し、且つ将来にわたっても該当しないことを確約します。<br>
            （１）反社会的勢力が経営を支配していると認められる関係を有すること<br>
            （２）反社会的勢力が経営に実質的に関与していると認められる関係を有すること<br>
            （３）自己もしくは第三者の不正の利益を図る目的又は第三者に損害を加える目的をもってするなど、不当に反社会的勢力を利用していると認められる関係を有すること<br>
            （４）反社会的勢力に対して資金等を提供し、又は便宜を供与するなどの関与をしていると認められる関係を有すること<br>
            （５）役員又は経営に実質的に関与している者が反社会的勢力と社会的に非難されるべき関係を有すること<br>
            ２．ユーザー企業及び当社は、自ら又は第三者を利用して次の各号の一にでも該当する行為を行わないことを確約します。<br>
            （１）暴力的な要求行為<br>
            （２）法的な責任を超えた不当な要求行為<br>
            （３）取引に関して、脅迫的な言動をし、又は暴力を用いる行為<br>
            （４）風説を流布し、偽計を用い又は威力を用いて相手方の信用を毀損し、又は相手方の業務を妨害する行為<br>
            （５）その他前各号に準ずる行為<br>
            ３．ユーザー企業又は当社が、第１項の規定に基づく表明・確約に違反し、又は前項各号のいずれかに該当する行為をした場合には、相手方は即時にjinjer利用契約を解除することができるものとします。<br>
            <br>
            <b>第16条（準拠法及び管轄裁判所）</b><br>
            １．本規約又はjinjerの利用については、日本国法に準拠するものとします。<br>
            ２．本規約又はjinjerの利用について紛争が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。<br>
            <br>
            <b>第17条（協議）</b><br>
            本規約に関して疑義あるいは、本規約に取り決めのない事項が生じた場合、信義誠実の原則に従って協議し、解決を図ることとします。<br>
            <br>
            2015年6月25日　制定<br>
            2016年2月22日　改定<br>
         </div>
      </div>
      <button type="submit" class="btn btn-info" ladda="SignInCtrl.loading"><i class="fa fa-lock"></i>ログイン </button>
   </form>
</div>
<footer-component></footer-component>
